/**************************** LAYOUT *******************************/
.bg-usefultools{width:228px;margin:10px 0 0 0}
.usefultools-aside ul{list-style:none;margin-left:10px;position:relative;z-index:30}
.usefultools-aside li{float:left;margin:4px 0}
.usefultools-aside-heading{height:24px;padding-top:4px;margin-left:10px}
.usefultools-aside ul li.usefultools-icon-contact a span{float:left;padding:48px 4px 0 4px}
.usefultools-aside ul li.usefultools-icon-locate a span{float:left;padding:48px 6px 0 6px}
.usefultools-aside ul li.usefultools-icon-calculate a span{float:left;padding:48px 0 0 0}
.usefultools-aside ul li.usefultools-icon-ask a span{float:left;padding:48px 15px 0 14px}



/**************************** THEME *******************************/
.bg-usefultools{_background:url("../bcms-resources/retail/images/bg-usefultools.gif") no-repeat 0 0 transparent;width:228px;}
.bg-usefultools-mid{background:url("../bcms-resources/retail/images/bg-usefultools-border.gif") repeat-y 0 0 transparent;width:228px;_background:none}
.bg-usefultools-top{background:url("../bcms-resources/retail/images/bg-usefultools.gif") no-repeat 0 0 transparent;height:24px;width:228px;_background:none}
.bg-usefultools-bot{background:url("../bcms-resources/retail/images/bg-usefultools.gif") no-repeat left bottom transparent;height:78px;*height:30px;width:228px;_background:none}

.usefultools-aside ul li.usefultools-icon-contact{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat 0 0 transparent;width:50px;height:45px}
.usefultools-aside ul li.usefultools-icon-contact:hover{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -50px -45px transparent;width:50px;height:45px}

.usefultools-aside ul li.usefultools-icon-locate{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -100px -90px transparent;width:50px;height:45px}
.usefultools-aside ul li.usefultools-icon-locate:hover{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -150px -135px transparent;width:50px;height:45px}

.usefultools-aside ul li.usefultools-icon-calculate{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -300px -270px transparent;width:50px;height:45px}
.usefultools-aside ul li.usefultools-icon-calculate:hover{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -350px -315px transparent;width:50px;height:45px}

.usefultools-aside ul li.usefultools-icon-ask{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -400px -360px transparent;width:50px;height:45px}
.usefultools-aside ul li.usefultools-icon-ask:hover{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -450px -405px transparent;width:50px;height:45px}



/**************************** TYPOGRAPHY *******************************/
.usefultools-aside-heading{font-weight:bold;color:#4c4b4a;font-size:0.875em}
.usefultools-aside li a:hover{font-weight:normal}
.usefultools-aside a{font-weight:normal;text-decoration:none;font-size:0.625em}