.usefultools-aside ul li.usefultools-icon-compare a span{float:left;padding:48px 4px 0 4px}

.usefultools-aside ul li.usefultools-icon-compare{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -700px -630px transparent;width:50px;height:45px}
.usefultools-aside ul li.usefultools-icon-compare:hover{background:url("../bcms-resources/retail/images/icons-comms.gif") no-repeat -750px -675px transparent;width:50px;height:45px}